body {
  font-family: "Arial", "Meiryo" sans-serif;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html{
    font-size: 20px;
}

.google-fonts{ 
  font-size: 2rem;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-align: center;
  text-shadow: 2px 2px 2px gray;
  letter-spacing: 1.2rem;
}

#parent > p {
  font-weight: bold;
}
.text-bold{
  color: skyblue;
}

.text-bold2{
  color:rgb(255, 192, 203);
}


p,h2{
  text-align: center;
}

p,.text-pink,.text-aqua{
    font-size: 1rem;
}

.text-pink { 
  color:pink
}

.text-aqua{
  color: skyblue;
}






